* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacing-wrapper {
  width: 95%;
  border-radius: 4px;
}

.content-box {
  min-width: 100px;
  flex: 1;
  height: 35px;
  border-radius: 4px;
  background-color: #fff;
}

.spacing-box {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #555;
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.spacing-box-title {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #555;
  font-size: 0.7rem;
  letter-spacing: 0.6px;
  font-weight: 600;
}

.box-row {
  display: flex;
  gap: 0.5rem;
}

.top-row,
.bottom-row {
  justify-content: center;
}

.middle-row {
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 50px;
  letter-spacing: 0.6px;
  padding: 2px 4px;
}

.input-suggestions-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
